body {
    font: 15px/1.5'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    ;
    padding: 0;
    margin-bottom: 50px;
    background-color: #85E3FF;
    text-align: center;
    color: #282828;
}

.login-container {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    border: 2px solid black;
    margin-top: 100px;
}

.login-container li {
    list-style-type: none;
}

.login-container label {
    display: block;
}

.checkLogged {
    word-wrap: break-word;
}

input[type=checkbox] {
    vertical-align: middle;
}

input[type=submit] {
    float: center;
}