<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/childRegistration.css" type="text/css">
    <title>Child Registration</title>
</head>

<body>
    <h1>dotKids Child Registration Form</h1>
    <form class="container border border-dark rounded childForm" id="childRegistrationForm" method="POST" action="" onsubmit="return checkFormContents()">
        <div class="form-group row">
            <div class="col">
                <label>First Name</label>
                <input type="text" id="inputFirstName" class="form-control" placeholder="First Name" required="">
            </div>
            <div class="col">
                <label>Last Name</label>
                <input type="text" id="inputLastName" class="form-control" placeholder="Last Name" required="">
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label>UserName</label>
                <input type="text" id="childUserName" class="form-control" placeholder="UserName" required="">
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="childEmail">Email For Child</label>
                    <select class="form-control" id="childEmail">
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Setting passwords to 6 char min for kids -->
        <div class="form-group row">
            <div class="col">
                <label>Password</label>
                <input type="password" id="password1" minlength="6" class="form-control" placeholder="Password" required="">
            </div>
            <div class="col">
                <label>Confirm Password</label>
                <input type="password" id="password2" minlength="6" class="form-control" placeholder="Confirm Password" required="">
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label>Age</label>
                <input type="number" id="childAge" class="form-control" placeholder="Age" required="">
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="childGrade">Child's Grade</label>
                    <select class="form-control" id="childGrade">
                        <option>Decline to Provide</option>
                        <option>Pre-K</option>
                        <option>Kindergarden</option>
                        <option>1st Grade</option>
                        <option>2nd Grade</option>
                        <option>3rd Grade</option>
                        <option>4th Grade</option>
                        <option>5th Grade</option>
                        <option>6th Grade</option>
                        <option>Home Schooled</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Checkboxes for the child's interests -->
        <fieldset class="form-group">
            <legend>What are some of the child's interests?</legend>
            <div class="form-group row">
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interest1">
                        <label class="form-check-label" for="interest1">Animals</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interest2">
                        <label class="form-check-label" for="interest2">Cars</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interest3">
                        <label class="form-check-label" for="interest3">Board Games</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interest4">
                        <label class="form-check-label" for="interest4">Dinosaurs</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interest5">
                        <label class="form-check-label" for="interest5">Space</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interest6">
                        <label class="form-check-label" for="interest6">Video Games</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interest7">
                        <label class="form-check-label" for="interest7">Bikes</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interest8">
                        <label class="form-check-label" for="interest8">Television</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interest9">
                        <label class="form-check-label" for="interest9">Sports</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interest10">
                        <label class="form-check-label" for="interest10">Outdoor Activities</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interest11">
                        <label class="form-check-label" for="interest11">Computers</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="interest12">
                        <label class="form-check-label" for="interest12">Planes</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-success" id="submitFormBtn">Submit</button>
    </form>
    <script src="../js/childRegistration.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
