<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/css/childRegistration.css" type="text/css">
        <title>Parent Settings</title>
    </head>
<body>
    <header>
        <div class="nav-container">
            <div id="branding">
                <h1><span class="highlight">dotKids</span></h1>
            </div>
            <nav>
                <ul>
                    <li>Sally K.</li>
                </ul>
            </nav>
        </div>
    </header>
    <h1>Parent Settings</h1>
    <div class="container border border-dark rounded parentSettingContainer">
        <div class="row">
            <button type="button" onclick="window.location='childRegistration.html'" class="border border-dark rounded parent-button">Create Child Account</button>
            <button type="button" onclick="window.location='childFilter.html'" class="border border-dark rounded parent-button">Set/Update Child Filter</button>
            <button type="button" onclick="alert('Usage Report is not implemented at this time');" class="border border-dark rounded parent-button">Run Usage Report</button>
            <button type="button" onclick="alert('Change Password is not implemented at this time');" class="border border-dark rounded parent-button">Change Password</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
