<!DOCTYPE html>
<html>

<head>
    <title>dotKids Registration Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- JS -->
    <script src="registration.js"></script>
    <!-- Stylesheet -->
    <link href="../css/registrations.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>

<body>
    <!-- layout wrapper -->
    <div class="main-layout wrapper">
        <h1>dotKids Parent Registration</h1>
        <div class="main-parentinfo">
            <div class="top">
                <form action="#" method="post">
                    <input class="text" type="text" name="Username" placeholder="Username" required="">
                    <input class="text email" type="email" name="email" placeholder="Email" required="">
                    <input class="text" type="password" name="password" placeholder="Password" required="">
                    <input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required="">
                    <div class="wthree-text">
                        <label class="anim">
							<input type="checkbox" class="checkbox" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label>
                        <div class="clear"> </div>
                    </div>
                    <input type="submit" value="Register">
                </form>
                <p>Already have an Account? <a href="#"> Login Now!</a></p>
            </div>
        </div>
</body>

</html>